# Studious Temp Files #

game
*.o
build/*
*.a
rpg
engineExample
*.DS_Store
engineExample.xcodeproj/*

# Cmake Temp Files #

CMakeCache.txt
CMakeFiles/*
CMakeScripts/*
cmake_install.cmake
engineExample.build/*

# Doxygen Related Files #
html/
latex/

# Guilty As Charged #
.vscode/

# Tests #
ModelImportTests
